@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

@font-face {
  font-family: "Camilla Sans Serif";
  src: url("../fonts/MADE\ Mirage\ Regular.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Camilla Sans Serif";
  src: url("../fonts/MADE\ Mirage\ Medium.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Camilla Sans Serif";
  src: url("../fonts/MADE\ Mirage\ Bold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Camilla Cursive";
  src: url("../fonts/CollectionNewStyle.ttf");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-family: "New Cycle", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.full-width {
  width: 100%;
}

.container {
  width: 1380px;
  margin: 0 auto;
}

.debug {
  border: 1px solid red;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-start {
  justify-content: flex-start;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.back-up-container {
  position: fixed;
  bottom: -100%;
  right: 40px;
  height: 100px;
  width: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.back-up-container.showed {
  bottom: 40px;
}

.back-up-button {
  height: 50px;
  width: 50px;
  background-color: var(--primary-dark);
  position: absolute;
  bottom: 0;
}
.back-up-button .iconify {
  font-size: 30px;
  color: white;
}

.back-up-container:hover .back-up-button {
  animation: test 1s 0s ease-out infinite;
}

@keyframes test {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 0px;
  }
}
