@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600&display=swap");

@font-face {
  font-family: "Camilla-Coppi-Bodoni";
  src: url("../fonts/Camilla-Coppi-Bodoni.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Camilla-Coppi-Bodoni";
  src: url("../fonts/Camilla-Coppi-Bodoni-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Camilla-Coppi-Cursive";
  src: url("../fonts/Camilla-Coppi-Cursive.ttf");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--primary-dark);
  color: #ffffff;
}

body {
  background-color: var(--background);
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.full-width {
  width: 100%;
}

.container {
  width: 1380px;
  margin: 0 auto;
}

.debug {
  border: 1px solid red;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-start {
  justify-content: flex-start;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.back-up-container {
  position: fixed;
  bottom: -100%;
  right: 40px;
  height: 100px;
  width: 50px;
  cursor: pointer;
  z-index: 9999;
  transition: all 0.5s ease;
}
.back-up-container.showed {
  bottom: 40px;
}

.back-up-button {
  height: 50px;
  width: 50px;
  background-color: var(--primary-dark);
  position: absolute;
  bottom: 0;
}
.back-up-button .iconify {
  font-size: 30px;
  color: white;
}

.back-up-container:hover .back-up-button {
  animation: test 0.5s 0s ease-out infinite;
}

@keyframes test {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 0px;
  }
}

.button {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid;
  font-weight: 900;
  font-family: "Overpass";
}

.button.primary {
  background-color: var(--primary-main);
  border-color: var(--primary-main);
  color: var(--primary-main);
}
.button.secondary {
  background-color: var(--secondary-dark);
  border-color: var(--secondary-dark);
  color: var(--secondary-dark);
}

.button:active.primary {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  color: var(--primary-dark);
}
.button:active.secondary {
  background-color: var(--secondary-light);
  border-color: var(--secondary-light);
  color: var(--secondary-light);
}

.button.outlined,
.button:active.outlined {
  background-color: transparent;
}

.button.contained,
.button:active.contained {
  color: white;
}

form {
  width: 100%;
  padding: 20px 0;
}

.input {
  position: relative;
  width: 100%;
  border-radius: 5px;
}

.input input {
  width: 100%;
  padding: 14px 10px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}

.input textarea {
  width: 100%;
  padding: 14px 10px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  resize: none;
}

.input label {
  position: absolute;
  top: 3px;
  left: 10px;
  padding: 10px 0px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.2s;
  font-weight: 100;
  font-size: 19px;
}

.input input:focus ~ label,
.input input:valid ~ label,
.input textarea:focus ~ label,
.input textarea:valid ~ label {
  top: -19px;
  left: 5px;
  font-size: 14px;
  background-color: var(--secondary-dark);
  font-weight: 100;
  padding: 10px 5px;
}

.input span {
  height: 1px;
  width: 0;
  background-color: white;
  position: absolute;
  bottom: 9px;
  transition: 0.2s;
}

.input input:focus ~ span,
.input input:valid ~ span {
  width: 100%;
}

.icon {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid var(--secondary-dark);
  cursor: pointer;
}

.icon:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.icon i {
  color: var(--secondary-dark);
}
