@media screen and (max-width: 600px) {
  .jumbotron-text h2 {
    font-size: 100px;
  }
  .jumbotron-text-paragraph p {
    width: 100%;
    padding: 0px 20px;
  }
  .jumbotron-photo {
    width: 95%;
    height: 600px;
  }
  .education-text h3 {
    text-align: center;
    width: 100%;
    font-size: 120px;
  }
  .services-container h3 {
    text-align: center;
    line-height: 50px;
    font-size: 120px;
  }
  .services-container p {
    width: 90%;
  }

  .intervention-area-container h3 {
    font-size: 120px;
  }

  .intervention-area-card-container {
    padding: 10px;
  }

  .card {
    width: 100%;
  }
}
