header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-light);
  transition: height 0.3s ease;
  z-index: 9999999;
}

header.scrolled {
  height: 60px;
}

.header {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.header .logo {
  height: 100%;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;
}

header.scrolled .header .logo {
  width: 90px;
  height: 50%;
}

.header nav {
  position: absolute;
  height: 100%;
}

.header nav.left {
  left: 0;
}

.header nav.right {
  right: 0;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  height: 100%;
}

.header nav ul a {
  height: 100%;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header nav ul a li {
  font-family: "Camilla-Coppi-Bodoni";
  font-size: 17px;
  color: var(--text-color);
}

.header nav ul a li:hover {
  font-family: "Camilla-Coppi-Bodoni";
  font-size: 17px;
  color: var(--primary-main);
  transition: all 0.3s ease;
}

.header nav ul .divider {
  width: 1px;
  height: 40%;
  background-color: var(--primary-main);
}

.jumbotron {
  height: 100vh;
  position: relative;
  padding-top: 50px;
}

.jumbotron-color {
  height: calc(100% - 50px);
  width: 29%;
  background-color: var(--primary-dark);
  position: absolute;
}

.jumbotron-container {
  height: 100%;
  position: relative;
  display: flex;
}

.jumbotron-photo-container {
  height: 100%;
  width: 50%;
}

.jumbotron-photo {
  height: 70%;
  width: 70%;
  background-image: url("../assets/jumbo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron-text-container {
  height: 100%;
  width: 50%;
}

.jumbotron-text {
  height: 70%;
  width: 90%;
  flex-direction: column;
  gap: 20px;
}

.jumbotron-text h2 {
  font-family: "Camilla-Coppi-Cursive";
  font-size: 140px;
  line-height: 100px;
  color: var(--secondary-light);
}

.jumbotron-text-paragraph {
  gap: 3vw;
  flex-direction: column;
}

.jumbotron-text-paragraph p {
  width: 100%;
  font-size: 19px;
  line-height: 30px;
  font-family: "Camilla-Coppi-Bodoni";
  color: var(--secondary-dark);
}
.jumbotron-adornment {
  position: absolute;
  top: 200px;
  right: 13vw;
  height: 300px;
  width: 300px;
}
.jumbotron-adornment img {
  height: 100%;
  opacity: 0.5;
}

.education-container {
  height: 100vh;
  width: 100%;
  position: relative;
}
.education {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-main);
  background-image: url("../assets/texture.png");
  top: 0;
  position: sticky;
  padding-top: 0px;
  position: relative;
  z-index: 2;
}
.education-wrapper {
  justify-content: space-between;
  height: 100%;
  gap: 50px;
}
.education-text {
  height: 100%;
  width: 50%;
  flex-direction: column;
  gap: 10px;
}

.education-text h3 {
  font-family: "Camilla-Coppi-Cursive";
  font-size: 140px;
  line-height: 100px;
  color: var(--secondary-dark);
}

.education-text p {
  width: 100%;
  font-size: 19px;
  line-height: 30px;
  font-family: "Camilla-Coppi-Bodoni";
  color: var(--secondary-dark);
}
.education-photo {
  height: 100%;
  width: 50%;
  z-index: 10;
  position: relative;
}

.education-photo-img {
  height: 70%;
  width: 72%;
  border: 10px solid white;
  box-shadow: 0px 3px 10px #00000050;
  background-image: url("../assets/education.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.education-container .adornment {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 30px;
  right: 9%;

  background-image: url("../assets/adornment2.png");
  background-size: cover;
  z-index: 1;
}

.services {
  width: 100%;
  background-color: var(--primary-light);
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 5px solid var(--primary-dark);
  border-bottom: 5px solid var(--primary-dark);
  box-shadow: inset 0px 2px 10px
    rgba(0, 0, 0, 0.3);
}

.services-container {
  height: 100%;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.services-container h3 {
  font-family: "Camilla-Coppi-Cursive";
  font-size: 140px;
  line-height: 100px;
  color: var(--secondary-dark);
  position: relative;
  z-index: 2;
}

.services-container p {
  width: 100%;
  font-size: 19px;
  line-height: 30px;
  width: 50%;
  text-align: center;
  font-family: "Camilla-Coppi-Bodoni";
  color: var(--secondary-dark);
  position: relative;
  z-index: 2;
}

.services-container .adornment {
  height: 200px;
  width: 200px;
  position: absolute;
  top: -30px;
  right: 25%;
  background-image: url("../assets/adornment.png");
  background-size: cover;
  z-index: 1;
}

.intervention-area {
  background-color: var(--primary-main);
  padding: 100px 0px;
  background-image: url("../assets/texture.png");
}

.intervention-area-container {
  flex-direction: column;
  padding-bottom: 30px;
}
.intervention-area-container h3 {
  font-family: "Camilla-Coppi-Cursive";
  font-size: 140px;
  line-height: 100px;
  color: var(--secondary-dark);
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.intervention-area-card-container {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.intervention-area-card-container.left {
  justify-content: flex-start;
}
.intervention-area-card-container.right {
  justify-content: flex-end;
}

.card {
  padding: 40px;
  background-color: var(--primary-light);
  width: 60%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--secondary-dark);
  flex-direction: column;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--primary-main);
}

.title h4 {
  font-size: 25px;
  font-weight: 100;
  color: var(--secondary-dark);
}

.title h5 {
  font-size: 20px;
  font-weight: 100;
  color: var(--secondary-dark);
}

.dotted-list {
  width: 100%;
  margin-top: 15px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dotted-list .item {
  display: inline-flex;
  gap: 10px;
  align-items: flex-start;
  font-size: 19px;
  color: var(--secondary-dark);
}
.dotted-list .item p {
  line-height: 20px;
}
.dotted-list .item img {
  height: 15px;
  filter: contrast(0.1);
  margin-top: 2px;
}
.card .text {
  margin-top: 15px;
  font-size: 19px;
  text-align: center;
  color: var(--secondary-dark);
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

.card h4 {
  font-size: 25px;
  font-weight: 100;
}

.appointment {
  background-color: var(--primary-light);
}

.half-item {
  width: 50%;
  padding: 100px 0px;
  display: flex;
}
.half-item.colored {
  background-color: var(--secondary-dark);
  padding-top: 200px;
}

.half-item.right {
  justify-content: flex-start;
}

.half-item.left {
  justify-content: flex-end;
}

.half-container {
  width: 690px;
  padding: 20px;
}

.half-container h3 {
  font-family: "Camilla-Coppi-Cursive";
  font-size: 140px;
  line-height: 100px;
  color: var(--secondary-dark);
}

.half-container p {
  width: 100%;
  font-size: 19px;
  line-height: 30px;
  font-family: "Camilla-Coppi-Bodoni";
  color: var(--secondary-dark);
}

.half-container p a {
  color: var(--secondary-dark);
}
.half-container p a:hover {
  color: var(--primary-dark);
}

.half-container span {
  font-size: 15px;
  line-height: 1px;
}

.half-container .place {
  margin-top: 40px;
}

.half-container .place h4 {
  font-size: 25px;
  font-weight: 100;
  color: var(--secondary-dark);
}

.half-item.colored p {
  font-size: 19px;
  color: white;
  font-weight: 100;
}

.half-item.colored .half-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-top: 10px;
}
