header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-light);
  transition: height 0.3s ease;
}

header.scrolled {
  height: 60px;
}

.header {
  height: 100%;
  justify-content: space-between;
}

.header .logo {
  height: 100%;
}

.header nav {
  height: 100%;
}

.header nav ul {
  list-style: none;
  font-weight: 600;
  font-family: "Camilla Sans Serif", serif;
  font-size: 16px;
  height: 100%;
}

.header nav ul a {
  padding: 0px 40px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.header nav ul a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header nav ul a.contrast {
  background-color: var(--primary-dark);
  font-family: "Camilla Cursive";
  font-size: 60px;
  font-weight: 900;
}

.header nav ul a.contrast li {
  color: white;
  line-height: 0px;
  margin: 0;
  letter-spacing: 1px;
}

.header nav ul a li {
  color: var(--primary-text);
}

.header nav ul .divider {
  height: 50%;
  width: 1px;
  background-color: var(--primary-dark);
}
