:root {
    --background: #E9EBE6;

    --primary-main: #959D94;
    --primary-light: #c7cfc4;
    --primary-dark: #687066;

    --secondary-main: #565D5E;
    --secondary-light: #838a8b;
    --secondary-dark: #2d3434;

    --ternary-main: #a300a3;
    --ternary-light: #d84cd5;
    --ternary-dark: #700074;
}