:root {
  --background: #fff;

  --primary-main: #d3b4a5;
  --primary-light: #efe6dd;
  --primary-dark: #687066;
  --primary-text: #554136;

  --secondary-main: #f7f1eb;
  --secondary-light: #838a8b;
  --secondary-dark: #2d3434;

  --tertiary-main: #a300a3;
  --tertiary-light: #d84cd5;
  --tertiary-dark: #700074;
}
